html {
	font-family: 'Dosis', sans-serif;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

footer {
	background-color: #a79082;
}

.beetleicon1 {
	width: 105px;
	left: 5px;
	top: 0.5em;
	position: absolute;
}

.beetleicon2 {
	width: 105px;
	right: 5px;
	top: 0.5em;
	position: absolute;
}

header h1 {
	color: #512200;
	font-size: 3em;
	padding: .5em;
	margin: 0;
	background-image: url("../images/subtle_white_mini_waves.png");
	text-align: center;
}

nav li {
	float: left;
	padding: 1.5em;
	width: 25%;
	background-color: #512200;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}