html {
	font-family: 'Dosis', sans-serif;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

footer {
	background-color: #a79082;
}

.beetleicon1 {
	width: 105px;
	left: 5px;
	top: 0.5em;
	position: absolute;
}

.beetleicon2 {
	width: 105px;
	right: 5px;
	top: 0.5em;
	position: absolute;
}

.rocks {
	width: 100%;
}

header h1 {
	color: #512200;
	font-size: 3em;
	padding: .5em;
	margin: 0;
}

header {
	color: #512200;
	background-image: url("../images/subtle_white_mini_waves.png");
	text-align: center;
	padding-bottom: 3em;
	margin-bottom: -4.1em;
}

nav li {
	float: left;
	padding: .5em;
	width: 25%;
	background-color: #512200;
	opacity: .5;
	font-size: 1.7em;
}

nav li:hover {
	opacity: .8;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h2 {
	color: white;
	text-align: center;
	margin: -3em;
}

h3 {
	color: white;
}

.antnestbeetle {
	width: 50%;
	float: left;
	margin-top: 109px;
	margin-left: 0;
}

.antnest {
	color: white;
	font-size: 1.5em;
	position: absolute;
	margin: 58% 19%;

}

.stag {
	color: white;
	font-size: 1.5em;
	position: absolute;
	margin: 58% 72%;

}

.stagbeetle {
	width: 50%;
	float: right;
	margin-top: 109px;
	margin-right: 0;
}

.dungbeetle {
	width: 50%;
	margin-left: 0;
}

.tortoisebeetle {
	width: 50%;
	float: right;
}

.dung {
	color: white;
	font-size: 1.5em;
	position: absolute;
	margin: -10% 16%;
}

.tortoise {
	color: white;
	font-size: 1.5em;
	position: absolute;
	margin: -10% 70%;
}

footer {
	background-color: #a79082;
	position: absolute;
	width: 100%;
	text-align: center;
}

footer img {
	width: 105px;
}